* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.offercard-container {
  background-color: rgb(35, 1, 51);
  height: 160px;
}

.sub {
  display: flex;
}

.sub div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  text-align: center;
  width: 150px;
}

.sub div p {
  padding: 5px;
  color: aliceblue;
  margin-top: 5px;
}

.offercard-img {
  width: 100px;
  border-radius: 100px;
  transition: 0.3s;
}

.offercard-img:hover {
  box-shadow: 1px 1px 15px rgb(254, 251, 255);
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .sub div {
    width: 120px;
  }
  .offercard-container {
    background-color: rgb(35, 1, 51);
    height: 130px;
  }
  .offercard-img {
    width: 70px;
    border-radius: 100px;
    transition: 0.3s;
  }

  .sub div p {
    padding: 7px;
    color: aliceblue;
    margin-top: 5px;
  }
}
